.content{
    max-width: 1000px;
    margin-top: 20px;
}

body{
    background-color: #f8f9fa;
  
}
.img-fluid{
    max-height: 100px;
}

.navbar{
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.profile-container{
    width:30%;
    max-width:300px;
    color:#657786;
}
.zone2{
    width:70%;
    max-width:700px;
}

.btn-tweet {
    border-radius: 30px;
}

.tweet-element{
    border-radius: 0px;
    font-size: 14px;
    border:0px;
    border-top: 1px solid  #ddd;
}

.tweet-element:first-child{
    border-top: 0px;
    font-size: 14px;
}
.b{
    border:1px solid red;
}

.b1{
    border:1px solid green;
}
.b2{
    border:1px solid blue;
}

.pointer-cursor{
    cursor: pointer;
}
#search-menu-container{
 position:relative;
}
.search-menu{
    position: absolute;
    background: white;
    z-index: 1;
    top:20px;
    left: 0px;
    width:300px;
    min-height: 200px;
    box-shadow: 0 1px 2px rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.search-menu-item{
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    transition: background 0.2s
}

.search-menu-item:hover{
    background: #eee;
    transition: background 0.2s;
}

.btn-follow{
    color: #007bff;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    border-width: 2px;
}
.btn-follow:hover{
    color:white !important;
}
.btn-unfollow{
    
    border-radius: 30px;
    font-weight: bold;
    
}
.btn-unfollow:hover{
    color:white !important;

}